#primero {
    width: 75%;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 15px;
    line-height : 25px;
    text-indent: 20px;
}

#segundo {
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    font-size: z0px;
    line-height : 20px;
    text-indent: 20px;
}

#tercero {
    width: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 10px;
    line-height : 30px;
    text-indent: 20px;
}

.capital:first-letter {
    text-transform: capitalize;
    font-size: 3em;
}