#ordenada li {
    text-indent: 40px;
}

#desordenada {
    list-style-position: inside;
}

#primera {
    list-style-image: url("./img/Blancanieves.png")
}

#segunda {
    list-style-image: url("./img/Cindirella.png");
}

#tercera {
    list-style-image: url("./img/Sirenita.png");
}